.container-section{
    margin-left: 270px;
    padding: 24px 32px;
}

/*SJbolrrpzGpfLa8pGS1JSrfm2G20QAbG*/

.content-books{
    margin-top: 24px;
    /*display: flex;
    flex-wrap: wrap;
    gap:16px;*/

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 12px;
    row-gap: 24px;
}