@import url(../components/header/style.css);

.container-book {
    height: 300px;
    margin-bottom: 24px;
    /*width: 200px;
    min-width: 200px;*/
    /*display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;*/

}

.book-cover {
    width: 100%;
    height: 260px;
    background: #222a35;
    margin-bottom: 12px;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-image {
    max-width: 100%;
    width: 95%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.book-title {
    font-size: 17px;
    font-weight: 500;
    color: #e0e0e0;
}

.book-author {
    font-size: 15px;
    font-weight: 500;
    color: #a8a8a8;
    margin-top: 4px;
}

/* PageNotFound.css */
.page-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    text-align: center;
}

.content {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 72px;
    margin: 0;
    color: #343a40;
}

p {
    font-size: 24px;
    margin: 10px 0 0;
    color: #6c757d;
}


/* BookDetail.css */
.book-detail {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-image {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    margin-right: 20px;
}

.book-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.book-info {
    flex: 2;
    min-width: 300px;
}

.book-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.book-info p {
    margin: 5px 0;
}

.buy-links h4 {
    margin-top: 20px;
}

.buy-links ul {
    list-style-type: none;
    padding: 0;
}

.buy-links li {
    margin: 5px 0;
}

.buy-links a {
    text-decoration: none;
    color: #007bff;
}

.buy-links a:hover {
    text-decoration: underline;
}

.loader {
    width: 40px;
    height: 40px;
    animation: 1s spinLoader linear infinite;
    border: 4px solid #fff;
    border-radius: 100%;
    border-right-color: transparent;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
}

@keyframes spinLoader {
    to {
        transform: rotate(360deg);
    }
}